@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/***************************************************/
/*shrift*/
/*peremennie*/
/***************************************************/
/*OSNOVA SETKA*/
input, button, textarea {
  font-family: "Lato";
}

/***************************************************/
/*obolochka*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.conteiner {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 892px) {
  .conteiner {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .conteiner {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .conteiner {
    max-width: none;
    padding: 0 10px;
  }
}

/***************************************************/
/*STYLE*/

header {
  margin: 0 auto;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-lang__item {
  line-height: 19px;
  font-size: 10px;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 4px;
  margin-right: 10px;
}
.header-top-lang__item.active {
  background-color: black;
  color: white;
}

.header-top-lang__item:last-child {
  margin-right: 0px;
}

.header-top__link {
  font-size: 15px;
  text-decoration: underline;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -12px;
}

.header-bottom__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
}

.header-bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-bottom-menu__link {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: black;
}

.header-logo {
  display: block;
  text-align: center;
}

.header-logo__text {
  color: black;
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.header-logo__image {
  display: inline-block;
  margin: 13px 0 22px 0;
}

.content {
  max-width: 1480px;
  margin: 35px 0;
}

.content-private__body {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img {
  width: 50vw;
  height: 25vw;
  border-width: 20px;
  line-height: 2px;
  
}

.body__info {
  padding: 45px 0px 30px 30px;
}

.info__title {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info__text {
  font-size: 12px;
  color: white;
  line-height: 1.5;
  max-width: 300px;
  margin: 15px 0 30px 0;
}

.info__buttons {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons__items {
  font-style: 20px;
  text-transform: uppercase;
  font-weight: 900;
}

.items__item {
  color: white;
  padding: 10px 20px;
}

.active {
  background-color: white;
  color: black;
}

.content__menus {
  margin: 40px 0;
}

.menus__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0 25%;
          flex: 0 0 0 25%;
}

.img1 {
  width: 18vw;
  height: 21vw;
}

.menu1__title {
  font-size: 18px;
  padding: 10px 0;
  text-transform: uppercase;
}

.menu1__text {
  max-width: 200px;
  line-height: 1.5;
  letter-spacing: 0.2vh;
  font-size: 12px;
}

.info__buttons1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttons__items1 {
  font-style: 18px;
  text-transform: uppercase;
  font-weight: 1300;
  margin-top: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons__items2 {
  font-style: 18px;
  text-transform: uppercase;
  font-weight: 1300;
  margin: 30px 0;
}

.items__item1 {
  color: white;
  background-color: black;
  padding: 10px 20px;
}

.contacts-title {
  font-size: 20px;
  font-weight: 1250;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.contacts-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-body__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
  margin-bottom: 20px;
}

.contacts-body__item {
  font-size: 15px;
  color: black;
  display: inline-block;
  line-height: 27px;
  padding-left: 35px;
}

.contacts-body__item--1 {
  background: url("/img/about/01.png") left no-repeat;
}

.contacts-body__item--2 {
  background: url("/img/about/02.png") left no-repeat;
}

.contacts-body__item--3 {
  background: url("/img/about/03.png") left no-repeat;
}

.contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-social__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0 25%;
          flex: 0 0 0 25%;
}

.contacts-content {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

.contacts-content__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.contacts-content-form {
  padding: 50px 60px;
}

.__title {
  color: white;
  font-size: 20px;
  font-weight: 1250;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
}

.input {
  border-radius: 0;
  width: 100%;
  display: block;
  padding: 0 20px;
  border: 2px solid;
  background-color: blanchedalmond;
  height: 50px;
}

textarea {
  resize: none;
  height: 200px;
  padding: 10px 18px;
}